# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
